.container{
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 2rem;
    text-align: center;
    
}

.container h4 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.upper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.contact{
    flex: 5;
    gap: 0.5rem;
    
}

.contact h2 {
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
}

.social{
    display: flex;
    flex: 1;
    justify-content: space-between;
    
}