.container{
    min-height: 90vh;
}

.container legend {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    z-index: 10;
    padding: 1rem;
}
.topSide{
    
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}


.presale{
    flex: 3;
    
}

.try{
    flex: 2;
}

@media screen and (max-width: 640px){
    .topSide{
        flex-direction: column-reverse;
    }
}