html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bicyclette", sans-serif;
  overflow-x: hidden;
  
  scrollbar-color: white;
  background: rgb(232,170,66);
  background: radial-gradient(circle, rgba(232,170,66,1) 0%, rgba(35,25,85,1) 100%);  
  
  z-index: -100;
}


@font-face {
  font-family: "Bicyclette";
  src: url("../public/fonts/Bicyclette.ttf"); 
}

@font-face {
  font-family: "Lockdoor";
  src: url("../public/fonts/Lockdoor.ttf");
}

@font-face {
  font-family: "Entuista";
  src: url("../public/fonts/Entuista.otf");
}


:root {
  
  --primaryColor: #1F4690;
  --secondaryColor: #231955;
  --orange: #E8AA42;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Bicyclette", sans-serif;
  cursor: pointer;
}

.react-player__preview {
  border-radius: 3%;
}


